<html>
  <head>
    <title>Find Users</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
  </head>
  <body bgcolor="#60a3bc">
    <header class="dashboardHeader">
      <div class="headerLeft">
        <h3 class="headerUsername" onclick="gotoHome()">
          <%= currentUser.name %>
        </h3>
      </div>
      <div class="headerRight">
        <% const freqs = currentUser.friendrequests %> <% const msgs =
        currentUser.messages %>
        <a href="/friend-requests" style="margin-left: 10px;">
          <div>
            <strong style="font-family: 'Lato'; color:white; font-weight: 400"
              >(<%=freqs.length%>)&nbsp;Requests</strong
            >
          </div>
        </a>
        <a href="/messages" style="margin-left: 10px; margin-right: 20px">
          <div>
            <strong style="font-family: 'Lato'; color:white; font-weight: 400"
              >(<%=msgs.length%>)&nbsp;Messages</strong
            >
          </div>
        </a>
        <form method="POST" action="/logout">
          <button class="logoutButton">Logout</button>
        </form>
      </div>
    </header>
    <div class="navDiv">
      <a href="/">Home</a>
      <a href="/find">Find People</a>
      <a href="/posts/<%=currentUser._id%>">Your Posts</a>
      <a href="/user/<%=currentUser._id%>">Edit Profile</a>
    </div>
    <center>
      <hr size="0.01" color="#3c6382" width="60%" style="margin-top: 4px;" />
    </center>
    <br />
    <center>
      <form class="searchUserForm" action="/find" method="get">
        <input type="text" placeholder="Search" name="name" />
        <button>Search</button>
      </form>
    </center>
    <br />
    <% users.map(user => { %> <% if(user._id!=currentUser.id) { %>
    <a href="/user/<%=user._id%>">
      <div class="user">
        <% if(user.gender=='Male') { %>
        <img
          src="https://banner2.cleanpng.com/20180615/rtc/kisspng-avatar-user-profile-male-logo-profile-icon-5b238cb002ed52.870627731529056432012.jpg"
          class="defaultDP"
        />
        <% } else { %>
        <img
          src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_female-512.png"
          class="defaultDP"
        />
        <% } %>
        <div
          style="display: flex; flex: 1; flex-direction: column; justify-content: center"
        >
          <strong><%= user.name %></strong>
          <small><%= user.bio %></small>
        </div>
        <div class="userAction">
          <% const userfreqs = user.friendrequests %> <% let reqAlreadySent =
          false %> <% for(let freq of userfreqs) { %> <% if(freq.id ==
          currentUser.id) { %> <% reqAlreadySent = true %> <% } %> <% } %> <%
          if(!reqAlreadySent) { %> <% let isFriend = false %> <% const
          currentUserFriends = currentUser.friends %> <% for(let f of
          currentUserFriends) { %> <% if(f._id==user.id) isFriend = true %> <% }
          %> <% if(isFriend) { %>
          <form action="/friends/<%=user._id%>/remove" method="post">
            <button>Friends</button>
          </form>
          <% } else { %>
          <form action="/user/<%=user._id%>/add" method="post">
            <button>Add</button>
          </form>
          <% } %> <% } else { %> <% let isFriend = false %> <% const
          currentUserFriends = currentUser.friends %> <% for(let f of
          currentUserFriends) { %> <% if(f._id==user.id) isFriend = true %> <% }
          %> <% if(isFriend) { %>
          <form action="/friends/<%=user._id%>/remove" method="post">
            <button>Friends</button>
          </form>
          <% } else { %>
          <form action="/user/<%=user._id%>/cancel" method="post">
            <button>Sent</button>
          </form>
          <% } %> <% } %>

          <form action="/user/<%=user._id%>/chat" method="get">
            <button>Message</button>
          </form>
        </div>
      </div>
    </a>
    <% } %> <% }) %>
  </body>
  <script>
    function gotoHome() {
      window.location = '/';
    }
  </script>
</html>
