<html>
  <head>
    <title>Posts</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />

    <style>
      @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      a {
        text-decoration: none;
        color: unset;
      }
      .dashboardHeader {
        width: 100%;
        height: 40px;
        background-color: #3c6382;
        display: flex;
        flex-direction: row;
      }
      .headerLeft {
        height: 40px;
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
      }
      .headerRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 20px;
      }
      .headerUsername {
        font-weight: 700;
        font-family: 'Lato';
        color: #f5f5fa;
        margin-left: 14px;
        cursor: pointer;
      }
      .navDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 16px;
      }
      .navDiv a {
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'Lato';
        font-weight: 500;
        color: #0a3d62;
      }
      .logoutButton {
        width: 80px;
        height: 30px;
        background-color: #0a3d62;
        border: none;
        color: #f5f5fa;
        border-radius: 6px;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
      }
      .postsDiv {
        width: 100%;
        height: 300px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
      }
      .post {
        background-color: #fff;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 40px;
        font-family: 'Lato';
        padding-bottom: 0px;
        border-radius: 6px;
      }
      .defaultDP {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #333;
        margin-right: 8px;
      }
      .postAuthorInfoDiv {
        background-color: #dcdde1;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 6px 6px 0px 0px;
        display: flex;
        flex-direction: row;
      }
      .postTextDiv {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
        font-family: 'Acme', cursive;
        font-weight: 300;
        font-size: 20px;
        color: #353b48;
      }
      .postInteractDiv {
        background-color: #f5f5fa;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        display: flex;
        flex-direction: row;
      }
      .postInteractDiv div:not(:first-child) {
        margin-left: 10px;
      }
      .postInteractDiv button {
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #0a3d62;
        border: none;
        color: #f5f5fa;
        font-family: 'Lato';
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
      }
      .postLikes {
        max-height: 200px;
        overflow-y: scroll;
        padding-left: 10px;
        padding-top: 4px;
      }
      .postLikes ul {
        margin-top: 6px;
      }
      .postLikes ul li {
        margin-bottom: 4px;
      }
      .postLikes strong {
        font-size: 20px;
        font-weight: 900;
      }
    </style>
  </head>
  <body bgcolor="#60a3bc">
    <header class="dashboardHeader">
      <div class="headerLeft">
        <h3 class="headerUsername" onclick="gotoHome()"><%= user.name %></h3>
      </div>
      <div class="headerRight">
        <% const freqs = user.friendrequests %> <% const msgs = user.messages %>
        <a href="/friend-requests" style="margin-left: 10px;">
          <div>
            <strong style="font-family: 'Lato'; color:white; font-weight: 400"
              >(<%=freqs.length%>)&nbsp;Requests</strong
            >
          </div>
        </a>
        <a href="/messages" style="margin-left: 10px; margin-right: 20px">
          <div>
            <strong style="font-family: 'Lato'; color:white; font-weight: 400"
              >(<%=msgs.length%>)&nbsp;Messages</strong
            >
          </div>
        </a>
        <form method="POST" action="/logout">
          <button class="logoutButton">Logout</button>
        </form>
      </div>
    </header>
    <div class="navDiv">
      <a href="/">Home</a>
      <a href="/find">Find People</a>
      <a href="/posts/<%=user._id%>">Your Posts</a>
      <a href="/user/<%=user._id%>">Edit Profile</a>
    </div>
    <center>
      <hr size="0.01" color="#3c6382" width="60%" style="margin-top: 4px;" />
    </center>
    <div class="postsDiv">
      <% if(posts.length>0){ %> <% posts.map(post => { %>
      <div class="post">
        <a href="/post/<%=post._id%>">
          <div class="postAuthorInfoDiv">
            <% if(post.authorGender=='Male') { %>
            <img
              src="https://banner2.cleanpng.com/20180615/rtc/kisspng-avatar-user-profile-male-logo-profile-icon-5b238cb002ed52.870627731529056432012.jpg"
              class="defaultDP"
            />
            <% } else { %>
            <img
              src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_female-512.png"
              class="defaultDP"
            />
            <% } %>
            <div style="display: flex; flex: 1; flex-direction: column">
              <strong><%= post.authorName %></strong>
              <small><%= post.authorEmail %></small>
            </div>
            <div
              style="display: flex; align-items: center; padding-right: 10px "
            >
              <% const dateArr = post.timestamp.toString().split(' ') %> <%
              const dateStr = dateArr.slice(1,4).join(' ') %>
              <strong><%= dateStr %></strong>
            </div>
          </div>
        </a>
        <div class="postTextDiv"><%= post.postText %></div>
        <div class="postInteractDiv">
          <div style="display: flex; flex-direction: row">
            <strong><%= post.likes.length %>&nbsp;&nbsp;&nbsp;</strong>
            <form action="/like/<%= post.id %>" method="post">
              <% const likes = post.likes %> <% let isAlreadyLiked = false %> <%
              for(let like of likes) { %> <% if(like.email == user.email) { %>
              <% isAlreadyLiked = true %> <% } %> <% } %> <% if(!isAlreadyLiked)
              { %>
              <button>Like</button>
              <% } else { %>
              <button>Liked</button>
              <% } %>
            </form>
          </div>
          <div>
            <form action="/<%= post.id %>">
              <button>Shit&nbsp;Here</button>
            </form>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
  <script>
    function gotoHome() {
      window.location = '/';
    }
  </script>
</html>
